.container {
  height: 70vh;
  width: 50vw;
  position: absolute;
  left: 25vw;
  top: 15vh;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  border-bottom: 1px solid grey;
  width: 50vw;
}

.tab {
  /* padding: ; */
  margin: 0 1vw;
  cursor: pointer;
}

.tab:hover {
  background-color: aliceblue;
}

.active {
  border-bottom: 1px solid blue;
  border-radius: 0.5px;
}

.closeButton {
  /* width: 5vw; */
  margin: 0 2vw 0 auto;
  cursor: pointer;
  /* border: 1px solid red; */
}
