.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  z-index: 100;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 6vw;
  background: linear-gradient(to right, var(--side-bar-bg-color), var(--side-bar-bg-color) 1.13%);
}

.gradient {
  position: absolute;
  left: 5.9vw;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.open {
  height: 100vh;
  width: 20vw;
  background: linear-gradient(
    90.79deg,
    var(--side-bar-bg-color) 1.13%,
    rgba(26, 29, 31, 0) 108.07%
  );
}

.close {
  height: 100%;
  width: 0;
  background: linear-gradient(
    90.79deg,
    var(--side-bar-bg-color) 1.13%,
    rgba(26, 29, 31, 0) 108.07%
  );
}

.logo {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 4.5vw;
}

.bottom {
  height: 90vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: visible;
  z-index: 102;
  margin-left: 1vw;
}

.links {
	/* border: 1px solid red; */
  height: 60vh;
  width: fit-content;
}

.navlink {
	/* border: 1px solid yellow; */
  cursor: pointer;
	height: 7vh;
  display: flex;
  flex-direction: row;
  overflow-y: visible;
  color: var(--color21);
  align-items: center;
  justify-items: center;
  z-index: 101;
  text-decoration: none;
  margin-bottom: 2vh;
}

.displayText {
  transition: opacity 0.3s ease, width 0.3s, font-size 0.3s;
}

.showText {
  margin-left: 1vw;
  font-family: Inter;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.875vw;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 2vw;
  padding-bottom: 0.5vh;
  opacity: 1;
}

.hoveredText {
  font-size: 1.625vw;
  font-weight: 700;
  color: var(--label-font-color);
}

.hideText {
  margin-left: 1vw;
  font-family: Inter;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.875vw;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 2vw;
  padding-bottom: 0.5vh;
  width: 0px;
  opacity: 0;
}

.linkImg {
  width: 2vw;
}

.hoveredImg {
  width: 2.2vw;
}

.notificaitonIndicator {
  position: relative;
  top: -1vw;
}

.selectedText {
  font-weight: 700;
  color: var(--label-font-color);
}

