.container {
	background-color: var(--color9);
	width: 100%;
	height: 100vh;
	display: flex;
}

.mainContainer {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 21.25vw);
	grid-auto-rows: 30vh;
	overflow-y: auto;
}

.mainContainer::-webkit-scrollbar {
	width: 0.3vw;
}

.mainContainer::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
}

.spacesContainer {
	width: 10%;
	height: 100%;
	margin: auto;
	margin-right: 0;
	background-color: var(--color3);
}
