.plusButton {
	background-color: #f9b552;
	position: absolute;
	bottom: 5vh;
	right: 13vw;
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: x-large;
    font-weight: 600;
}
