.containerPopup {
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(66, 66, 66, 0.6);
}

.popup {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 35vw;
  height: 90vh;
  border-radius: 1rem;
  padding: 2vh 1vw;
  z-index: 0;
  background-color: white;
}

.popup > img {
  cursor: pointer;
  height: 3vh;
  width: auto;
  margin: 0 0 0 auto;
}

.popup > h1 {
  font-family: Nunito;
  font-weight: 800;
  color: #026670;
  font-size: 1.5rem;
  margin: 0.5vh auto 0.5vh auto;
}

.topCtn {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75vh;
}

.topCtn::-webkit-scrollbar {
  width: 0.3vw;
}

.topCtn::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
