.container {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100vw;
  height: 8vh;
  display: flex;
}

.title > p {
  font-size: 25px;
  font-weight: 900;
  margin-left: 5vw;
}

.calendar {
  margin: auto;
  width: 86vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}

.calendarTitle {
  display: flex;
  width: 86vw;
  height: 8vh;
}

.prevButton {
  width: 4vw;
  display: flex;
}

.nextButton {
  width: 4vw;
  display: flex;
}

.monthYear {
  width: 78vw;
  display: flex;
}

.monthYear > p {
  font-weight: 900;
  font-size: 3.5vh;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 86vw;
}

.dayNameCard {
  flex: 1;
  border: 1px solid rgb(209, 204, 204);
  display: flex;
}
.dayNameCard > p {
  margin: auto;
}

.body {
  width: 86vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 86vw;
}

.dateCard {
  flex: 1;
  border: 1px solid rgb(209, 204, 204);
  display: flex;
}
.dateCard > p {
  margin: auto;
}
