.container {
  width: 92vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.topContainer {
  margin-top: 8vh;
  margin-bottom: 2vh;
  width: 92vw;
  height: 40vh;
  /* border: 1px solid red; */
  display: flex;
}
.bottomContainer {
  margin-top: 2vh;
  margin-bottom: 8vh;
  width: 92vw;
  height: 50vh;
  /* border: 1px solid red; */
  display: flex;
}
.utilitiesContainer {
  margin-top: 2vh;
  border-radius: var(--border-radius);
  background-color: var(--light-container-bg-color);
  width: 16vw;
  height: 32vh;
}

.utility {
  width: 15vw;
  height: 5vh;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
}

.utilityLabel {
  /* border: 1px solid red; */
  width: 5vw;
  height: 5vh;
  display: flex;
}

.utilityLabel > p {
  color: var(--switch-label-font-color);
  font-size: 3vh;
  margin: auto;
  font-weight: 500;
}

.upcomingEventsContainer {
  background-color: var(--upcoming-events-container-bg-color);
  width: 60vw;
  height: 45vh;
  border: 4px solid var(--live-event-banner-bg-color);
  border-radius: var(--border-radius);
  margin: 0 4vw;
}

.notificationsContainer {
  width: 20vw;
  height: 42vh;
  margin: auto;
  margin-right: 2vw;
  background-color: var(--live-event-banner-bg-color);
  border-radius: var(--border-radius);
}

.upcomingEventsContainerTitle {
  /* border: 1px solid red; */
  height: 6vh;
  background-color: var(--upcoming-events-container-bg-color);
  display: flex;
}

.upcomingEventsContainerTitle > p {
  color: var(--label-font-color);
  font-size: 3.5vh;
  margin: auto;
  margin-left: 1vw;
}

.upcomingEventsContainerContent {
  /* border: 1px solid red; */
  width: 58.5vw;
  flex-direction: column;
  height: 37vh;
  margin: 1vh auto;
  overflow-y: scroll;
  background-color: var(--upcoming-events-container-bg-color);
  display: flex;
  flex-direction: column;
}

.upcomingEventsContainerContent > p {
  color: var(--color1);
  font-size: 3.5vh;
  margin: auto;
}

.upcomingEventsContainerContent::-webkit-scrollbar,
.nContainer::-webkit-scrollbar {
  width: 0.2vw;
}

.upcomingEventsContainerContent::-webkit-scrollbar-thumb,
.nContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.nTitle {
  width: fit-content;
  height: 5vh;
  border-bottom: 2px solid var(--color28);
  display: flex;
  margin: auto;
  margin-left: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.nTitle > p {
  margin: auto;
  margin-left: 0;
  font-size: 2.4vh;
  font-weight: 600;
}

.nContainer {
  height: 35vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid green; */
}

.nTopContainer{
  width: 90%;
  height: 5vh;
  display: flex;
}

.clearButton{
  display: flex;
  cursor: pointer;
}

.clearButton > p{
  margin: auto;
  font-size: 2.4vh;
  color: var(--color1);
  font-weight: 700;
}