.titleBar {
	height: 5vh;
	display: flex;
}

.backButton {
	cursor: "pointer";
	border: "solid 6px";
	height: "wrap-content";
	width: "5vw";
	background-color: "black";
	color: "wheat";
	margin: 0 2vw 0 auto;
}

.backButton > img {
	width: 2vw;
}
