.container {
	width: 8vw;
	height: 11vh;
	margin: 1vh 1vw;
	border: solid 2px;
	margin-right: 3vw;
	overflow: hidden;
}

.icon {
	width: 5vw;
	height: 5vh;
	box-sizing: border-box;
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

.name {
	display: flex;
	width: 4vw;
	height: 1vw;
}

.name > p {
	margin: auto;
}
