.mainContainer {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  z-index: 400;
  display: flex;
}

.hide {
  display: none;
}

.container {
  width: 25vw;
  height: 60vh;
  background-color: var(--color17);
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.heading {
  width: 25vw;
  height: 10vh;
  /* border: 1px solid red; */
  display: flex;
}

.title {
  width: 15vw;
  height: 5vh;
  margin: auto;
  margin-left: 5vw;
  display: flex;
  /* border: 1px solid red; */
}

.title > p {
  margin: auto;
  font-weight: 700;
  font-size: 3vh;
  color: var(--color21);
}

.cross {
  cursor: pointer;
  width: 3vw;
  height: 5vh;
  /* border: 1px solid red; */
  display: flex;
  margin-top: 1vh;
}

.cross > img {
  width: 3vh;
  height: 3vh;
  margin: auto;
}

.settingsContainer {
  width: 100%;
  height: 38vh;
}

.time {
  width: 100%;
  height: 10vh;
  display: flex;
}

.startTime {
  width: 40%;
  margin: auto;
  margin-right: 0.5vw;
}
.endTime {
  width: 40%;
  margin: auto;
  margin-left: 0.5vw;
}

.offDaysContainer {
  width: 100%;
  height: 28vh;
}

.offDaysTitle {
  display: flex;
  width: 100%;
  height: 8vh;
}

.offDaysTitle > p {
  margin: auto;
  margin-left: 2.5vw;
  font-weight: 700;
  font-size: 2.5vh;
  color: var(--color21);
}

.days {
  width: 100%;
  display: flex;
}

.column1 {
  width: 40%;
  height: 20vh;
  margin: auto;
  margin-right: 0.5vw;
  /* border: 1px solid red; */
}
.column2 {
  width: 40%;
  height: 20vh;
  margin: auto;
  margin-left: 0.5vw;
  /* border: 1px solid red; */
}

.button {
  width: 10vw;
  height: 5vh;
  background-color: var(--color1);
  margin: auto;
  margin-top: 3vh;
  display: flex;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button > p {
  margin: auto;
  font-weight: 700;
  font-size: 2.5vh;
  color: var(--color24);
}
