.page {
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 100vw;
  height: 8vh;
  background-color: red;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
}

.dragDownButton {
  width: 6vw;
  height: 8vh;
  display: flex;
  margin-left: 20vw;
  cursor: pointer;
}

.dragDownButton > img {
  margin: auto;
  height: 4vh;
}

.mainContainer {
  /* border: 1px solid red; */
  background-color: aliceblue;
  width: 100vw;
  height: 92vh;
}

.testContainer {
  background-color: var(--PRIMARY_BG);
  color: var(--PRIMARY_TEXT);
}
