.container {
  width: 65vw;
  height: 40vh;
  margin: 1vh auto;
  display: flex;
}
.mainContainer {
  width: 50vw;
  height: 40vh;
  margin-left: 7.5vw;
  background-color: white;
  border-radius: 10px;
}
.buttonContainer {
  width: 5vw;
  height: 40vh;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 0 auto;
}

.insertQuestionButton {
  margin-top: 2vh;
  height: 5vh;
  display: flex;
  cursor: pointer;
}
.insertQuestionButton > img {
  height: 4vh;
  margin: auto;
}
