.mainContainer {
  width: 100vw;
  height: 90vh;
  background-color: var(--bg-clr);
  display: flex;
}

.leftContainer,
.rightContainer {
  width: 40vw;
  height: 60vh;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
}

.leftContainer > img {
  width: 40vw;
  border-radius: 20px;
}

.rightContainer {
  flex-direction: column;
}

.solidButton {
  cursor: pointer;
  display: flex;
  background-color: var(--primary-color);
  width: 7vw;
  height: 5vh;
  margin: auto;
  border-radius: var(--border-radius);
}

.solidButton > p {
  color: var(--button-text-color);
  font-weight: 700;
  margin: auto;
}

.select {
  width: 15vw;
  margin: auto;
  height: fit-content;
}
