.container {
  height: auto;
  min-height: 30vh;
  display: flex;
}
.mainContainer {
  width: 50vw;
  height: auto;
  min-height: 10vh;
  padding-bottom: 5vh;
  margin: 1vh 4vw 1vh 25vw;
  background-color: white;
  border-radius: 10px;
  border-top: 1vh solid purple;
}

.dropDownMenu {
  width: 15vw;
  height: 30vh;
  background-color: white;
}

.option {
  width: 7vw;
  border-bottom: 1px solid grey;
  margin: auto;
  cursor: pointer;
  height: 5vh;
  display: flex;
}
