.container {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
}

.profileImgContainer {
    margin: -100px auto 0 auto;
    height: 200px;
    width: 200px;
    border: 10px solid white;
    border-radius: 200px;
    overflow: hidden;
}

.profileImgContainer>img {
    width: 100%;
    height: 100%;
}

.headingContainer {
    margin: auto;
    text-align: center;
}

.button {
    margin: 0 auto;
    background-color: gold;
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.horizontalDivider {
    height: 2px;
    background-color: lightgray;
    margin: 20px 20px;
    border-radius: 2px;
}

.pageContent {
    display: flex;
}

.pageContentDescription {
    width: 60%;
    margin: 0 10px 20px 10px;
}

.verticalDivider {
    width: 2px;
    background-color: lightgray;
    margin: 0px 20px 20px 20px;
    border-radius: 2px;
}

.pageContentAction {
    width: 30%;
    margin: 0 10px 20px 10px;
}

.buyButton {
    background-color: yellowgreen;
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.follow {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.follow>h1 {
    text-align: center;
}

.followIcons {
    display: flex;
    flex-direction: row;
}

.followIcons>a {
    margin: auto;
}

.followIcons>a>img {
    height: 70px;
    width: 70px;
}


.footer {
    background-color: #121212;
}

.footer>h1 {
    margin: 20px 10px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.footer>h1>span {
    font-size: 1rem;
    font-weight: 400;
}