.container {
  width: 18vw;
  height: 6vh;
  display: flex;
  cursor: pointer;
  margin: 1vh auto;
}

.container:hover {
  background-color: #eceff1;
}

.left {
  width: 4vw;
  height: 6vh;
  display: flex;
}
.left > img {
  margin: auto;
  height: 3vh;
}

.center {
  width: 6vw;
  height: 6vh;
  display: flex;
}

.center > p {
  margin: auto 0;
}
.right {
  width: 8vw;
  height: 6vh;
  display: flex;
}
