.container {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
}

.calendar {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-clr);
  border-radius: var(--border-radius);
  border: 1px solid var(--label-font-color);
  margin: auto;
}

.title {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid var(--label-font-color);
}

.calendarTitle {
  display: flex;
  width: 16vw;
  height: 8vh;
  /* border: 1px solid peachpuff; */
  margin: 0 auto;
}

.monthYear {
  /* border: 1px solid gold; */
  width: 15vw;
  display: flex;
}

.monthYear > p {
  font-weight: 700;
  font-size: 3.5vh;
  color: var(--label-font-color);
  margin: auto;
}

.Button {
  cursor: pointer;
  margin: auto 0;
  display: flex;
  width: 4vh;
  height: 4vh;
  user-select: none;
  border-radius: 2vh;
}

.Button > p {
  font-weight: 700;
  font-size: 3.5vh;
  color: var(--label-font-color);
  margin: auto;
}

.body {
  margin: auto;
  margin-top: 5vh;
  width: 90%;
  height: 80%;
  /* border: 1px solid palevioletred; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.body::-webkit-scrollbar {
  width: 0.5vw;
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.body > p {
  margin: auto;
  font-size: 3vh;
  color: var(--label-font-color);
  font-weight: 600;
}
