.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: var(--border-radius);
  border-right: 1px solid var(--label-font-color);
  border-bottom: 1px solid var(--label-font-color);
  margin: auto;
}

.title {
  width: 100%;
  height: 8vh;
  border-top: 1px solid var(--label-font-color);
  border-left: 1px solid var(--label-font-color);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.calendarTitle {
  display: flex;
  width: 16vw;
  height: 8vh;
  /* border: 1px solid peachpuff; */
  margin: 0 auto;
}

.monthYear {
  /* border: 1px solid gold; */
  width: 10vw;
  display: flex;
}

.monthYear > p {
  font-weight: 700;
  font-size: 3.5vh;
  color: var(--label-font-color);
  margin: auto;
}

.Button {
  cursor: pointer;
  margin: auto 0;
  display: flex;
  width: 4vh;
  height: 4vh;
  user-select: none;
  border-radius: 2vh;
}

.Button > p {
  font-weight: 700;
  font-size: 3.5vh;
  color: var(--label-font-color);
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
}

.dayNameCard {
  flex: 1;
  border-top: 1px solid var(--label-font-color);
  border-left: 1px solid var(--label-font-color);
  display: flex;
}

.dayNameCard > p {
  font-weight: 700;
  font-size: 3vh;
  color: var(--label-font-color);
  margin: auto;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
}

.dateCard {
  cursor: pointer;
  flex: 1;
  border-top: 1px solid var(--label-font-color);
  border-left: 1px solid var(--label-font-color);
  display: flex;
  flex-direction: column;
}
.date {
  width: 100%;
  height: 50%;
  /* border: 1px solid red; */
  display: flex;
}
.date > p {
  margin: auto;
  margin-right: 1vw;
  font-weight: 700;
  font-size: 3vh;
  color: var(--label-font-color);
}

.inactive > p {
  color: var(--color18);
}

.topTasks {
  width: 100%;
  height: 50%;
  /* border: 1px solid red; */
}

.task {
  /* border: 1px solid red; */

  width: 100%;
  height: 50%;
  display: flex;
}

.indicator {
  width: 12px;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 6px;
  margin: auto 0.5vw;
  background: var(--color15);
}

.details {
  height: 100%;
  width: 100%;
  display: flex;
}

.details > p {
  margin: auto;
  margin-left: 0;
  font-size: 2vh;
  color: var(--label-font-color);
}

.color0 {
  background-color: var(--color15);
}

.color1 {
  background-color: var(--color11);
}

.color2 {
  background-color: var(--color14);
}

.color3 {
  background-color: var(--color12);
}
