.googleButton {
  cursor: pointer;
  display: flex;
  min-width: 12vw;
  height: 5vh;
  background-color: var(--google-button-color);
  margin: auto;
}

.googleLogo {
  font-size: 2.5vh;
  color: var(--color6);
  margin: auto;
  margin-right: 1vh;
  font-weight: 700;
}
.googleText {
  font-size: 2.2vh;
  margin: auto;
  margin-left: 0;
  font-weight: 500;
  color: var(--google-button-text-color);
}
