.container {
  width: 30vw;
  min-height: 5vh;
  margin: 1vh auto;
  display: flex;
}

.profilePic {
  width: 5vh;
  height: 5vh;
  margin: 1vh 1vw 0 0;
}
.profilePic > img {
  height: 5vh;
  border-radius: 2.5vh;
}
.message {
  color: aliceblue;
  background-color: rgb(20, 50, 69);
  border-radius: 10px;
  min-height: 5vh;
  display: flex;
  /* width: 25vw; */
}
.message > p {
  margin: auto 1vw;
}
