.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
}

.titleBar {
  display: flex;
  width: 100vw;
  height: 7vh;
}

.titleBar > img {
  height: 5vh;
  margin: auto;
  margin-left: 2vw;
}

.container {
  min-width: 30vw;
  height: 70vh;
  border-radius: 20px;
  background-color: var(--header-bg-color);
  margin: auto;
  box-shadow: 1px 1px var(--box-shadow-color);
}

.image {
  min-width: 30vw;
  height: 16vh;
  display: flex;
}

.image > img {
  height: 8vh;
  margin: auto;
}

.heading {
  display: flex;
  width: auto;
  height: 10vh;
}
.normalText {
  display: flex;
  width: auto;
  margin-bottom: 5vh;
}
.heading > p {
  font-weight: 700;
  margin: auto;
  font-size: var(--authentication-heading-font-size);
  color: var(--label-font-color);
}

.normalText > p {
  margin: auto;
  color: var(--normal-text-color);
  text-align: center;
}

.button {
  border-radius: var(--border-radius);
  width: 20vw;
  height: 5vh;
  margin: auto;
  margin-top: 3vh;
  background-color: var(--primary-color);
  display: flex;
  cursor: pointer;
}

.button > p {
  margin: auto;
  font-weight: 600;
  font-weight: var(--authentication-heading-font-size);
  color: var(--bg-clr);
}
