.container {
	width: 100vw;
	height: 92vh;
	background-color: rgba(226, 224, 255, 0.445);
	overflow-y: auto;
}

.formContainer {
	max-height: 85vh;
	overflow-y: auto;
}

.highlightSelected {
	border-left: 1vh solid dodgerblue;
}

.buttonsContainer {
	width: 20vw;
	display: flex;
	margin: 1vh auto;
	flex-direction: row;
}

.insertQuestionButton {
	height: 5vh;
	margin: auto 1vw;
	display: flex;
	cursor: pointer;
}
.insertQuestionButton > img {
	height: 4vh;
}
