.container {
  width: 15vw;
  height: 24vh;
  background-color: var(--color3);
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  position: relative;
}

.topContainer {
  width: 15vw;
  /* border: 1px solid red; */
  height: 20vh;
  display: flex;
}

.icon {
  width: 8vw;
  /* border: 1px solid red; */
  margin: auto 0 auto 2vw;
}

.icon > img {
  width: 8vw;
  margin: auto;
}

.moreButton {
  /* border: 1px solid red; */
  margin: 3vh 2vw auto auto;
}

.moreButton > img {
  width: 0.5vw;
  margin: auto;
}

.bottomContainer {
  display: flex;
}

.bottomContainer > p {
  margin: auto 2.5vw;
  font-weight: 500;
  color: var(--color21);
  font-size: 2vh;
}

.popupMainContainer {
  width: 10vw;
  height: 15vh;
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1000;
  background-color: var(--color17);
  left: 13vw;
  top: 2vh;
  border-radius: 8px;
}

.option {
  width: 6vw;
  height: 5vh;
  margin: auto;
  display: flex;
}

.option > p {
  margin: auto 0;
  font-weight: 500;
  font-size: 2vh;
  color: var(--color21);
}
