.container {
  width: 92vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
}

.topContainer {
  margin-top: 8vh;
  margin-bottom: 2vh;
  width: 92vw;
  height: 40vh;
  /* border: 1px solid red; */
  display: flex;
}
.bottomContainer {
  margin-top: 2vh;
  margin-bottom: 8vh;
  width: 92vw;
  height: 50vh;
  /* border: 1px solid red; */
  display: flex;
}
.lights {
  margin-top: 2vh;
  border-radius: var(--border-radius);
  background-color: var(--light-container-bg-color);
  width: 16vw;
  height: 32vh;
}

.upcomingEventsContainer {
  background-color: var(--upcoming-events-container-bg-color);
  width: 60vw;
  height: 45vh;
  border: 4px solid var(--live-event-banner-bg-color);
  border-radius: var(--border-radius);
  margin: 0 4vw;
}

.notificationsContainer {
  width: 20vw;
  height: 42vh;
  margin: auto;
  margin-right: 2vw;
  background-color: var(--live-event-banner-bg-color);
  border-radius: var(--border-radius);
}

.upcomingEventsContainerTitle {
  /* border: 1px solid red; */
  height: 6vh;
  background-color: var(--upcoming-events-container-bg-color);
  display: flex;
}

.upcomingEventsContainerTitle > p {
  color: var(--label-font-color);
  font-size: 3.5vh;
  margin: auto;
  margin-left: 1vw;
}

.upcomingEventsContainerContent {
  /* border: 1px solid red; */
  width: 58.5vw;
  flex-direction: column;
  height: 37vh;
  margin: 1vh auto;
  overflow-y: scroll;
  background-color: var(--upcoming-events-container-bg-color);
}

.upcomingEventsContainerContent::-webkit-scrollbar {
  width: 0.5vw;
}

.upcomingEventsContainerContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}
