.container {
  width: 92vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
}

.topContainer {
  margin-top: 8vh;
  margin-bottom: 2vh;
  width: 92vw;
  height: 30vh;
  /* border: 1px solid red; */
  display: flex;
}
.bottomContainer {
  margin-top: 2vh;
  margin-bottom: 8vh;
  width: 92vw;
  height: 50vh;
  border: 1px solid red;
}
.lights {
  margin-top: 2vh;
  border-radius: var(--border-radius);
  background-color: var(--light-container-bg-color);
  width: 20vw;
  height: 28vh;
}
