.Button {
  margin: 1vh auto;
  background-color: blue;
  display: flex;
  width: 6vw;
  height: 4vh;
  font-weight: 500;
}
.Button > p {
  margin: auto;
}

.Button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
