.Button {
  margin: auto;
  display: flex;
  width: 4vh;
  height: 4vh;
  font-weight: 900;
  user-select: none;
  border-radius: 2vh;
}
.Button > p {
  margin: auto;
}

.Button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
