.theme-switcher {
    padding: 20px;
    transition: background-color 0.3s ease-in-out;

    &.light {
        background-color: #fff;
        color: #333;
    }

    &.dark {
        background-color: #333;
        color: #fff;
    }
}