body {
  margin: 0;
  background-color: var(--bg-clr);
  color: var(--btn-text-color);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes fade-in {
  0% {
    transform: scaleX(0%);
  }
  45% {
    transform: scaleX(0%);
  }
  50% {
    transform: scaleX(50%);
  }
  75% {
    transform: scaleX(75%);
  }
  100% {
    transform: scaleX(100%);
  }
}
