.container {
	width: 36vw;
	height: 88vh;
	position: absolute;
	left: 32vw;
	top: 10vh;
	z-index: 200;
	box-sizing: border-box;
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	background: rgb(0, 30, 49);
	transition: all 0.75s;
}

.messagesContainer {
	max-height: 60vh;
	overflow-y: scroll;
}
.messagesContainer::-webkit-scrollbar {
	width: 0.3vw;
}

.messagesContainer::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 0.5rem;
}

.options {
	display: flex;
	width: 20vw;
	height: 5vh;
	margin: 2vh auto;
}

.option {
	border: 1px solid rgb(20, 50, 69);
	cursor: pointer;
	width: 8vw;
	margin: 0 1vw;
	border-radius: 0.5vh;
	display: flex;
}

.option > p {
	margin: auto;
	color: azure;
}

.active {
	background-color: rgb(20, 50, 69);
}

.content {
	border: 1px solid rgb(20, 50, 69);
	width: 34vw;
	height: 76vh;
	margin: auto;
}
