.button {
  background-color: #f9b552;
  position: fixed;
  bottom: 5vh;
  right: 13vw;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  user-select: none;
}

.button > img {
  width: 3vh;
  height: 3vh;
  margin: auto;
}
