.container {
  width: 100%;
  margin: auto;
  display: flex;
  height: 5vh;
  user-select: none;
}

.hide {
  display: none;
}

.checkbox {
  width: 3vh;
  height: 3vh;
  margin: auto;
  margin-left: 1vw;
  border-radius: 4px;
  border: 1px solid var(--color1);
  display: flex;
}

.checkbox > img {
  margin: auto;
  width: 2vh;
}

.checked {
  background-color: var(--color1);
}

.label {
  display: flex;
  width: 85%;
  height: 100%;
}

.label > p {
  margin: auto;
  margin-left: 0.5vw;
  font-weight: 500;
  font-size: 2.2vh;
  color: var(--color21);
}

.borderRadius{
  border-radius: 50%;
}

.innerCircle{
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: var(--color1);
  margin: auto;
}